@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.top {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 30px;
  font-size: 0.6rem;
}

.marketing {
  width: 100%;
  margin-left: 25%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin-right: 50px;
}

.header {
  width: 100%;
  height: 62px;
  background-color: #f0a83e;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  gap: 30vw;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 2vw;
  font-size: 12px;
}

.menu_de_nav {
  display: flex;
  flex-wrap: nowrap;
}

.menu_hamburguer {
  display: none;
}

.banner {
  background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
  width: 100%;
  height: 409px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding: 5%;
}

.banner div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.banner h1 {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  color: #3c2313;
}

.banner p {
  color: #3c2313;
}

.banner a {
  background-color: #f0a83e;
  border-radius: 5px;
  padding: 10px;
}

.destaque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.destaque h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #3c2313;
}

.destaque ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.destaque p {
  color: #666666;
}

.destaque a {
  color: #666666;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-top: 20px;
}

.cards h3 {
  font-weight: bold;
  color: #3c2313;
}

.cards p {
  color: #f0a83e;
}

.formulario {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.formulario h2 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
}

.dados {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.dados input:not(input[type="reset"], input[type="submit"]) {
  width: 30%;
  height: 40px;
  border-radius: 15px;

  background-color: #3c2313;
  color: #e5e5e5;
  padding: 10px;
  outline: none;
  border: none;
}

.dados input:not(input[type="reset"], input[type="submit"])::placeholder {
  color: #e5e5e5;
}

.botoes {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-top: 20px;
}
.botoes button {
  width: 50%;
  height: 45px;
  border-radius: 25px;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
}

.botoes button:nth-child(1) {
  background-color: #8a8787;
}

.botoes button:nth-child(2) {
  background-color: #f0a83e;
}

.novidades {
  width: 100%;
  height: 60px;
  background-color: #f0a83e;
  color: white;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.novidades span {
  margin-left: 10px;
}

.botoes2 {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.botoes2 input[type="email"] {
  width: 70%;
  height: 40px;

  background-color: #e5e5e5;
  color: #222222;

  border-radius: 15px;
  border: none;
  outline: none;
  padding: 10px;
}

.botoes2 input[type="email"]::placeholder {
  font-size: 0.7rem;
}

.botoes2 button[type="submit"] {
  width: 30%;
  height: 35px;

  background-color: #3c2313;
  color: #e5e5e5;
  border-radius: 15px;
  border: none;
  outline: none;
}

.rodape {
  width: 100%;
  height: 350px;
  background-color: #3c2313;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.informacoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.icones {
  display: flex;
  flex-direction: row;
  color: #e5e5e5;
  gap: 10px;
}

.direitos {
  background-color: #222222;
  color: #e5e5e5;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 0.6rem;
  padding: 5px;
}

@media screen and (max-width: 769px) {
  .header {
    padding: 3%;
  }
  .top {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu_hamburguer {
    display: block;
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner p {
    display: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
  }

  .botoes {
    width: 60%;
    flex-direction: column;
  }

  .novidades {
    height: 120px;
    flex-direction: column;
  }

  .novidades span {
    font-size: 2rem;
  }
  .botoes2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: auto;
    margin-top: 8px;
  }

  .rodape {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
